# Visual Studio Files
**/.vs
**/.vscode

# project build files
**/bin
**/obj
**/publish

# NuGet
/packages

# projects to ignore
Site/WebServer/AppData/Roaming/*
!Site/WebServer/AppData/Roaming/Fenix
fenixsetup.exe
